@import "tailwindcss";

/* ---------------
    TITLE 
---------------- */

.title-section {
  font-weight: bold;
  color: #f5a70a;
}

/* @keyframes colorChange {
  0% {
    color: rgba(0, 128, 0, 1);
  }
  50% {
    color: rgb(0, 225, 255);
  }
  100% {
    color: rgba(255, 165, 0, 1);
  }
} */

/* ---------------
    MAIN
---------------- */
main {
  width: 100%;

  background: linear-gradient(to bottom, #0077be, #00d4ff);
}
